 <%= link_to(raw('<i class="halflings-icon white edit"></i>'),edit_question_page_path(question.id,question.page_id),remote: true, :class=> "btn" ) %>
 <%= link_to(raw('<i class="halflings-icon white move"></i>'),move_question_page_path(question.id,question.page_id,question.page.survey_id),remote: true, :class=> "btn btn-primary move_question " ) %>
 <%= link_to(raw('<i class="halflings-icon white share-alt"></i>'),copy_question_page_path(question.id,question.page_id),remote: true,:data => {:confirm => 'Are you sure to copy ?'} , :class=> "btn btn-success" ) %>
 <%#= link_to(raw('<i class="halflings-icon white wrench"></i>'),'#',remote: true, :class=> "btn btn-warning" ) %>
 <%= link_to(raw('<i class="halflings-icon white remove"></i>'),delete_question_page_path(question.id,question.page_id),remote: true, :data => {:confirm => 'Are you sure to delete?'} ,:class=> "btn btn-danger" ) %>
