<div class="task low wrapper_<%=page_id%>">
  <div class="desc">
    <div class="title">Dropdown Question</div>
    <div>
      <div class="control-group">
        <label class="control-label"><%= t(:question) %> <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="question[name][]" data-index="<%=index%>" data-target="dropdown-question-"><%= setValueQuestion(question,"name","dropdown") %></textarea>
          <input type="hidden" name="question[question_type][]" value="dropdown">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= t(:individual_note) %>
          <span class="pull-right">
            <input type="checkbox" name="question[check_tooltip][]" class="is-tooltip" data-index="<%=index%>" data-target="dropdown-question-" data-value-from="note-<%=index%>"/>
            <%= t(:show_as_tooltip) %>
          </span>
        </label>
        <div class="controls">
          <input class="input-xlarge span12 note-preview note-<%=index%>" data-index="<%=index%>" data-target="dropdown-question-" name="question[tooltips][]" type="text" value="<%=setValueQuestion(question,"tooltips","dropdown")%>" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls ">
          <input class="input-xlarge span6 dropdown-preview first-value" name="question[first_choise][]" type="text" data-index="<%=index%>" data-target="dropdown-select-" value="<%=setValueQuestion(question,"first_choise","dropdown")%>"/>
          <span class="right-form-note">This first choise will not be accepted as an answer (e.g. Please choose..)</span>
        </div>
        <div class="controls ">
          <textarea class="input-xlarge span6 dropdown-preview" name="question[choise][]" data-index="<%=index%>" data-target="dropdown-select-"><%=setValueQuestion(question,"choise","dropdown")%></textarea>
          <p class="help-block">Separate each item by line break</p>
        </div>
      </div>
      <div class="control-group">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-<%=index%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <select class="dropdown-select-<%=index%>">
                <option>Please Choose..</option>
              </select>
              <p class="help-block note-block-<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>
