<div class="task low wrapper_<%=page_id%>">
  <div class="desc">
    <div class="title">Dropdown Rangking</div>
    <div>
      
      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="question[name][]" data-index="<%=index%>" data-target="dropdown-question-"><%=setValueQuestion(question,"name","dropdown_rangking")%></textarea>
          <input type="hidden" name="question[question_type][]" value="dropdown_rangking" >
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="question[check_tooltip][]" class="is-tooltip" data-index="<%=index%>" data-target="dropdown-question-" data-value-from="note-<%=index%>"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-<%=index%>" data-index="<%=index%>" data-target="dropdown-question-" name="question[tooltips][]" type="text" value="<%=setValueQuestion(question,"tooltips","dropdown_rangking")%>" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls">
          <div class="span6">
            <textarea class="input-xlarge span12 dropdown-ranking-preview text-rangking-<%=index%>" name="question[choise][]" data-index="<%=index%>" data-target="dropdown-ranking-select-" rows="5"><%=setValueQuestion(question,"choise","dropdown_rangking")%></textarea>
            <p class="help-block">Separate each item by line break</p>
          </div>
          <div class="span6">
            <input type="checkbox" name="has_not_available" class="is-na" data-index="<%=index%>" data-target="dropdown-ranking-select-"/> Show N/A <input type="text" name="not_available_value" class="span2 na-<%=index%> na" data-index="<%=index%>" value="<%= question.try(:not_available_value)%>" data-target="dropdown-ranking-select-"/>
          </div>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-<%=index%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <ul class="dropdown-ranking-select-<%=index%> rangking-list unstyled" style="margin-left: 0;" data-index="<%=index%>">
              
              </ul>
              <p class="help-block note-block-<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

 <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>

<script>
$("ul.rangking-list").sortable({
  handle: ".handle",
  update: function(event, ui) {
    var idx, text;
    text = "";
    idx = $(this).attr('data-index');
    $(".rangking-item-" + idx).each(function(i) {
      text += $(this).attr('data-value');
      return text += "\n";
    });
    return $(".text-rangking-" + idx).val(text.trim());
  }
});
</script>