<div class="task low wrapper_<%=page_id%>">
  <div class="desc">
    <div class="title">Evaluation 2</div>
    <div>

      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview text-eval-<%=index%>" name="question[name][]" data-index="<%=index%>" data-target="dropdown-question-"><%=setValueQuestion(question,"name","evaluation2")%></textarea>
          <input type="hidden" name="question[question_type][]" value="evaluation2" >
          <input type="hidden" name="question_index[]" value="<%=index%>" >
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="question[check_tooltip][]" class="is-tooltip" data-index="<%=index%>" data-target="dropdown-question-" data-value-from="note-<%=index%>"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-<%=index%>" data-index="<%=index%>" data-target="dropdown-question-" name="question[tooltips][]" type="text" value="<%=setValueQuestion(question,"tooltips","evaluation2")%>"/>
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls">
          <div class="span4">
            <textarea class="input-xlarge eval2 span12 eval1-preview text-eval1-<%=index%>" name="question[choise][]" data-index="<%=index%>" data-target="eval-prev-" rows="5"><%=setValueQuestion(question,"choise","evaluation2")%></textarea>
            <p class="help-block">Separate each item by line break</p>
          </div>
          <div class="span8">
            <div class="eval1check">
              <input type="checkbox" name="append_open_box" data-index="<%=index%>" data-target="foot-eval1-" class="eval1-check"/>
              Append open inbox box
            </div>
            <div class="span5 hide foot-eval1-<%=index%>">
              <p class="label-eval">Text before optional text field</p>
              <input type="text" name="text_before_field" class="span12 eval1-foot-label" data-index="<%=index%>" data-target="foot-eval1-label-" value="<%= question.try(:text_before_field)%>"/>
            </div>      
            <div class="span5 hide foot-eval1-<%=index%>">
              <p class="label-eval">Text box width</p>
              <input type="text" name="inline_style" class="span4 eval1-width" data-index="<%=index%>" data-target="optional-eval1-"/><span> px</span>
            </div>

            <!-- column -->
            <div class="span3">
              <p class="label-eval">Number of column</p>
              <select class="span5 eval1-column evals-column-<%=index%>" data-index="<%=index%>" data-target="column-eval1-" name="column_count">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="selected">3</option>
              </select>
            </div>
            <div class="span8">
              <p class="label-eval">Column label:</p>
              <input type="text" name="question[column_label][<%=index%>][]" class="span4 label-eval1 column-eval1-<%=index%> col1" data-index="<%=index%>" value="Column 1"/>
              <input type="text" name="question[column_label][<%=index%>][]" class="span4 label-eval1 column-eval1-<%=index%> col2" data-index="<%=index%>" value="Column 2"/>
              <input type="text" name="question[column_label][<%=index%>][]" class="span4 label-eval1 column-eval1-<%=index%> col3" data-index="<%=index%>" value="Column 1"/>
            </div>

            <!-- last column checxbox -->
            <div class="span12">
              <input type="checkbox" name="tobechanged"/>
              The last column is a "No answer" column (or equivalent) and is not considered in the evaluation
            </div>

            <div class="span12">
              <p class="label-eval">Description of block "Weighting"</p>
              <input type="text" name="question[description_block][]" class="weighting" data-index="<%=index%>" value="weighting" />
            </div>
          </div>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-<%=index%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <table style="width:100%">
                <thead>
                  <tr>
                    <td colspan="5"></td>
                    <td colspan="4" class="color-black weighting-<%=index%>" align="center">Weighting</td>
                  </tr>
                  <tr>
                    <td width="42%">
                     
                    </td>
                    <td class="color-black label-eval1-<%=index%> column-eval1-<%=index%> col1" width="10%">
                      Column 1
                    </td>
                    <td class="color-black label-eval1-<%=index%> column-eval1-<%=index%> col2" width="10%">
                      Column 2
                    </td>
                    <td class="color-black label-eval1-<%=index%> column-eval1-<%=index%> col3" width="10%">
                      Column 3
                    </td>
                    <td width="10%"></td>
                    <td class="color-black" width="7%">--</td>
                    <td class="color-black" width="7%">-</td>
                    <td class="color-black" width="7%">+</td>
                    <td class="color-black" width="7%">++</td>
                  </tr>
                </thead>
                <tbody class="eval-list eval-prev-<%=index%>" data-index="<%=index%>">
                 
                </tbody>
                <tfoot class="hide foot-eval1-<%=index%>">
                  <tr>
                    <td>
                      <span class="foot-eval1-label-<%=index%> color-black"></span>
                      <input type="text" name="prev" class="optional-eval1-<%=index%>"/>
                    </td>
                    <td class="column-eval1-<%=index%> col1">
                      <label class="radio ">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td class="column-eval1-<%=index%> col2">
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td class="column-eval1-<%=index%> col3">
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td></td>
                    <td>
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td>
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td>
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td>
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <p class="help-block note-block-<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>

<script>
$(".eval-list").sortable({
  handle: ".handle",
  update: function(event, ui) {
    var idx, text;
    text = "";
    idx = $(this).attr('data-index');
    $(".eval-item-" + idx).each(function(i) {
      text += $(this).attr('data-value');
      return text += "\n";
    });
    return $(".text-eval1-" + idx).val(text.trim());
  }
});
</script>