<div class="task low">
  <div class="desc">
    <div class="title">File Upload</div>
    <div>

      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview text-eval-3" name="text" data-index="3" data-target="dropdown-question-"></textarea>
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="tooltip" class="is-tooltip" data-index="3" data-target="dropdown-question-" data-value-from="note-3"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-3" data-index="3" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">"Browse" Button</label>
        <div class="controls ">
          <input class="input-xlarge span6 browse_btn" type="text" data-index="3" data-target="upload-btn-" value="Browse.." name="tobechanged" />
        </div>
      </div>


      <div class="control-group">
        <label class="control-label">Maximum file size</label>
        <div class="controls ">
          <select class="input-xlarge" name="tobechanged">
            <option value="1"><= 1MB</option>
            <option value="5"><= 5MB</option>
            <option value="10"><= 10MB</option>
            <option value="50"><= 50MB</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Accepted formats (<a class="selectAll">Select all</a><a class="deselectAll"> Deselect all</a>)</label>
        <div class="controls checkboxes">
          <input type="checkbox" name="csv"> csv
          <input type="checkbox" name="doc"> doc/docx
          <input type="checkbox" name="pdf"> pdf
          <input type="checkbox" name="ppt"> pps/ppt/pptx
          <input type="checkbox" name="txt"> txt
          <input type="checkbox" name="xls"> xls/xlxs
          <input type="checkbox" name="mp3"> mp3
          <input type="checkbox" name="wav"> wav
          <input type="checkbox" name="wma"> wma
          <input type="checkbox" name="avi"> avi
          <input type="checkbox" name="flv"> flv
          <input type="checkbox" name="m4v"> m4v
          <input type="checkbox" name="mov"> mov
          <input type="checkbox" name="mp4"> mp4
          <input type="checkbox" name="mpeg"> mpeg
          <input type="checkbox" name="bmp"> bmp
          <input type="checkbox" name="gif"> gif
          <input type="checkbox" name="jpg"> jpg/jpeg
          <input type="checkbox" name="png"> png
          <input type="checkbox" name="tif"> tif/tiff
          <input type="checkbox" name="ico"> ico
          <input type="checkbox" name="rar"> rar
          <input type="checkbox" name="zip"> zip
        </div>
      </div>  

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-3" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <p class="help-block note-block-3"></p>
            </div>
            <div style="margin-top:20px">
              <button class="btn btn-primary uploads upload-btn-3">Browse..</button>
              <input type="file" class="hidden file_upload" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>