<table style="width:100%">
  <thead>
    <tr>
      <td width="50%" <%= (type =="evaluation2" ? "colspan=#{ 2+ data.column_count.to_i}" : '') %> ></td>
      <% if type =="evaluation2" %>
        <td colspan="4" class="color-black weighting-" align="center"><%= data.description_block%></td>
      <%end%>
      <% if type =="evaluation1" || type == "multiple_answer" %>
        <% col.each_with_index do |co, index| %>
          <% unless co.blank? || index >= data.column_count %>
            <td class="color-black label-eval1- column-eval1- col1" width="20%">
              <%=co%>
            </td>
          <%end%>
        <%end%>
      <%end%>
    </tr>
    <% if type =="evaluation2" %>
      <tr>
        <td width="50%" ></td>
        <% col.each_with_index do |co, index|  %>
          <% unless co.blank? || index >= data.column_count%>
            <td class="color-black label-eval1- column-eval1- col1" width="20%">
              <%=co%>
            </td>
          <%end%>
        <%end%>
        <td width="10%"></td>
        <td class="color-black" width="7%">--</td>
        <td class="color-black" width="7%">-</td>
        <td class="color-black" width="7%">+</td>
        <td class="color-black" width="7%">++</td>
      </tr>
    <%end%>
  </thead>
  <tbody class="eval-list eval-prev-" data-index="">
    <% row.each_with_index do |ro,idx| %>
      <tr>
        <td width="50%">
          <i class="fa fa-sort icons-move handle"></i>
          <span class="color-black" > <%=ro%> </span>
        </td>
        <% col.each_with_index do |co, index| %>
          <% unless co.blank? || index >= data.column_count %>
            <td class="color-black label-eval1- column-eval1- col1" width="20%">
              <% if type=='multiple_answer'  %>
              <input type="text" name="choise_answer[<%=data.id%>][<%=idx%>][<%=index%>]">
              <%else%>
              <input type="radio" name="choise_answer[<%=data.id%>][<%=idx%>][<%=index%>]" value="<%=index%>">

              <%end -%>
            </td>
          <%end%>
        <%end%>

        <% if type =="evaluation2" %>
            <td width="10%"></td>
            <td>
              <label class="radio">
                <input type="radio" name="choise_answer[<%=data.id%>][<%=idx%>][4]" value="4">
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="choise_answer[<%=data.id%>][<%=idx%>][4]" value="5">
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="choise_answer[<%=data.id%>][<%=idx%>][4]" value="6">
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="choise_answer[<%=data.id%>][<%=idx%>][4]" value="7">
              </label>
            </td>
        <%end%>
      </tr>
      <% if data.open_box_field %>
        <tr>
          <td>
            <span class="foot-eval1-label-1 color-black"><%= data.text_before_field %></span>
            <input type="text" class="optional-eval1-1" name="prev" style="<%= data.inline_style %>">
          </td>
          <% col.each_with_index do |co, index| %>
            <% unless index >= data.column_count %>
              <td>
                <label class="radio">
                  <input type="<%=(type=='multiple_answer' ? 'text' :  'radio')%>" name="foot">
                </label>
              </td>
            <%end%>
          <%end%>
          <% if type =="evaluation2" %>
            <td width="10%"></td>
            <td>
              <label class="radio">
                <input type="radio" name="foot" value="option2">
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="foot" value="option2">
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="foot" value="option2">
              </label>
            </td>
            <td>
              <label class="radio">
                <input type="radio" name="foot" value="option2">
              </label>
            </td>
        <%end%>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>