<div class="desc">
  <div class="title <%= question.as_tooltips? ? 'tooltips': ''%>" data-placement="right" data-toggle="tooltip" href="#" data-original-title="<%= question.tooltips%>"> <%=index+1%>. <%=question.question%></div>
  <div>
    <%=generate_choise(question.question_type,question,proccessed_view)%>
  </div>
  <% unless question.as_tooltips %>
    <p><%=question.tooltips%></p>
  <% end %>
</div>