<div class="desc">
  <div class="title <%= question.as_tooltips? ? 'tooltips': ''%>" data-placement="right" data-toggle="tooltip" href="#" data-original-title="<%= question.tooltips%>" <%=layout_coloring(question.page.survey,['font_color'],proccessed_view)%> > <%=index+1%>. <%=question.question%></div>
  <div>
    <%=generate_choise(question.question_type,question, question.has_not_available, question.not_available_value,proccessed_view)%>
  </div>
  <% unless question.as_tooltips %>
    <p><%=question.tooltips%></p>
  <% end %>
</div>
