<div class="control-group">
  <div class="controls ">
    Page :  
    <%= select_tag("move[page_id]",options_from_collection_for_select(pages,:id,:page_title)) %>
    <%= hidden_field_tag("move[type]",'true') %>
    <%= hidden_field_tag("move[question_id]",question_id) %>
  </div>
</div>  
