<div class="task low wrapper_<%=page_id%>">
  <div class="desc">
    <div class="title">Multiline Text Box</div>
    <div>
      
      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="question[name][]" data-index="<%=index%>" data-target="dropdown-question-"><%=setValueQuestion(question,"name","multiline_text_box")%></textarea>
          <input type="hidden" name="question[question_type][]" value="multiline_text_box" >

        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="question[check_tooltip][]" class="is-tooltip" data-index="<%=index%>" data-target="dropdown-question-" data-value-from="note-<%=index%>"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-<%=index%>" data-index="<%=index%>" data-target="dropdown-question-" name="question[tooltips][]" type="text"  value="<%=setValueQuestion(question,"tooltips","multiline_text_box")%>"/>
        </div>
      </div>  

      <div class="control-group">
        <div class="span2">
          <p class="label-eval">Text box width</p>
          <input type="text" class="span8 multilinewidth" data-index="<%=index%>" data-target="multiline-" name="question[inline_style][]" >
          <span>px</span>
        </div>
        <div class="span4">
          <p class="label-eval">Default Value</p>
          <input type="text" class="multilinevalue" data-index="<%=index%>" data-target="multiline-" name="question[default_value][]" id="def_val" value="<%= question.try(:default_value)%>">
        </div>
        <div class="span6">
          <p class="label-eval">What kind of text entries are allowed</p>
          <select name="tobechanged">
            <option value="all">All, no retriction</option>
          </select>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-<%=index%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <textarea class="span12 multiline-<%=index%>" rows="5"></textarea>
              <p class="help-block note-block-<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>

<script>
  $('#def_val').trigger('keyup');
</script>