<div class="task low wrapper_<%=page_id%>">
  <div class="desc">
    <div class="title">Multiple Choices</div>
    <div>

      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview text-eval-<%=index%>" name="question[name][]" data-index="<%=index%>" data-target="dropdown-question-"></textarea>
          <input type="hidden" name="question[question_type][]" value="multiple_choice" >
          <input type="hidden" name="question_index[]" value="<%=index%>" >

        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="question[check_tooltip][]" class="is-tooltip" data-index="<%=index%>" data-target="dropdown-question-" data-value-from="note-<%=index%>"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-<%=index%>" data-index="<%=index%>" data-target="dropdown-question-" name="question[tooltips][]" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls">
          <div class="span4">
            <textarea class="input-xlarge span12 dropdown-ranking-preview text-rangking-<%=index%> from_multiple" name="question[choise][]" data-index="<%=index%>" data-target="dropdown-ranking-select-" rows="5" data-type="checkbox"></textarea>
            <p class="help-block">Separate each item by line break</p>
          </div>
          <div class="span8">
            <div class="eval1check">
              <input type="checkbox" checked="checked" name="tooltip" data-index="<%=index%>" data-target="foot-eval1-" class="eval1-check"/>
              Append open inbox box
            </div>
            <div class="span5 foot-eval1-<%=index%>">
              <p class="label-eval">Text before optional text field</p>
              <input type="text" name="question[column_label][]" class="span12 eval1-foot-label" data-index="<%=index%>" data-target="foot-eval1-label-"/>
            </div>      
            <div class="span5 foot-eval1-<%=index%>">
              <p class="label-eval">Text box width</p>
              <input type="text" name="question[inline_style_width][]" class="span4 eval1-width" data-index="<%=index%>" data-target="optional-eval1-"/><span> px</span>
            </div>

            <div class="span12">
              <p class="label-eval">Maximum amount of choices a participant can make</p>
              <input type="text" name="question[inline_css_max_value][]" class="span4 eval1-width" data-index="<%=index%>" data-target="optional-eval1-"/><span> empty = unlimited</span>
            </div>


          </div>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-<%=index%>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <ul class="dropdown-ranking-select-<%=index%> rangking-list unstyled" style="margin-left: 0;" data-index="<%=index%>">
                
              </ul>
              <div class="foot-eval1-<%=index%> foot" style="margin-left: 23px;">
                  <input type="checkbox">
                  <span class="foot-eval1-label-<%=index%> color-black"></span>
                  <input type="text" name="prev" class="optional-eval1-<%=index%>"/>
                </div>
              <p class="help-block note-block-<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>