<div class="task low wrapper_<%=page_id%>">
  <div class="desc">
    <div class="title"><%= t(:percentage) %></div>
    <div>
      <div class="control-group">
        <label class="control-label"><%= t(:question) %> <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="question[name][]" data-index="<%=index%>" data-target="dropdown-question-">
            <%= setValueQuestion(question,"name","percentage") %>
          </textarea>
          <input type="hidden" name="question[question_type][]" value="percentage">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= t(:individual_note) %>
          <span class="pull-right">
            <input type="checkbox" name="question[check_tooltip][]" class="is-tooltip" data-index="<%=index%>" data-target="dropdown-question-" data-value-from="note-<%=index%>"/>
            <%= t(:show_as_tooltip) %>
          </span>
        </label>
        <div class="controls">
          <%= text_field_tag "question[tooltips][]", setValueQuestion(question,"tooltips","percentage"), class: "input-xlarge span12 note-preview note-#{index}",
            'data-index' => index, 'data-target' => "dropdown-question-#{index}" %>
        </div>
      </div>
      <div class="control-group">
        <div class="span3">
          <p class="label-eval"><%= t(:text_before_field) %></p>
          <input type="text" class="span12 afterbefore" data-index="<%=index%>" data-target="pbefore-<%=index%>" name="question[text_before_field][]">
        </div>
        <div class="span3">
          <p class="label-eval"><%= t(:default_value) %> (0 - 100)</p>
          <input type="text" class="pdefault span12" data-index="<%=index%>" data-target="percentage-<%=index%>" name="question[default_value][]">
        </div>
        <div class="span2">
          <p class="label-eval"><%= t(:increment) %></p>
          <select class="span12 pstep" data-index="<%=index%>" data-target="percentage-<%=index%>" name="question[increment_value][]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="span4">
          <p class="label-eval"><%= t(:text_after_field) %></p>
          <%= text_field_tag "question[text_after_field][]", '', class: 'afterbefore span12', 'data-index' => index, 'data-target' => "pafter-#{index}" %>
        </div>
      </div>
      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-<%= index %>" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <span class="pbefore-1 color-black"></span>
              <input type="range" min="0" max="100" value="1" class="percentage-1">
              <span class="pafter-1 color-black"></span>
              <p class="help-block note-block-<%= index %>"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>
