$("#detail_element_<%=@page_id%>").html("");
<% @page.questions.each_with_index do |pg,index| %>
  $("#detail_element_<%=@page_id%>").append('<%=escape_javascript(render :partial => "questions/list_#{pg.question_type}",:locals => {:question => pg,:index => index,:proccessed_view => "" }) %>');

<%end%>