$("#detail_element_<%=@page_id%>").html('');
<% @page.questions.each_with_index do |pg,index| %>
  $("#detail_element_<%=@page_id%>").append('<div id="question_list_<%=pg.id%>" class="task low"><%=escape_javascript(render :partial => "questions/list_#{pg.question_type}",:locals => {:question => pg,:index => index,:proccessed_view => "" }) %><div class="time"><div class="date"><%=escape_javascript(render :partial => "questions/actionPerQuestion" ,:locals => {:question => pg}) %></div></div></div>');
<%end%>