$('#moveQuestionForm').modal('show');
$("#title_modal").html("Edit Question");

$("#modal_body_form").html('<%=escape_javascript(render :partial => "questions/#{@question.question_type}",:locals => {:question => @question,:page_id => @page_id,:index => @index }) %>');

$(".text-preview,.dropdown-preview,.note-preview,.dropdown-ranking-preview,.eval1-preview").trigger("keyup");
$("#edit_question_id").val("<%=@question.id%>");