$('#moveQuestionForm').modal('show');
$("#title_modal").html("Move Question");

$("#modal_body_form").html('<%=escape_javascript(render :partial => "questions/move",:locals => {:pages => @pages ,:question_id => @question_id}) %>');
