<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon edit"></i><span class="break"></span>Profile</h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><i class="halflings-icon wrench"></i></a>
        <a class="btn-minimize" href="#"><i class="halflings-icon chevron-up"></i></a>
        <a class="btn-close" href="#"><i class="halflings-icon remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <%= form_for(@user, :url => user_path(@user.id), :html => { :method => :put, :role => 'form',:class => "form-horizontal"}) do |f| %>
        <fieldset>
          <div class="control-group">
            <%= f.label :name,:class => "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <%= f.text_field :name, :autofocus => true%>
              </div>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email ,:class => "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <%= f.email_field :email %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password ,:class => "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <%= f.password_field :password, :autocomplete => 'off' %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password_confirmation ,:class => "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <%= f.password_field :password_confirmation, :autocomplete => 'off', class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <p>You must enter your current password to make changes.</p>
            <%= f.label :current_password ,:class => "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                <%= f.password_field :current_password, :autocomplete => 'off', class: 'form-control' %>
              </div>
            </div>
          </div>

          
          <div class="form-actions">
            <%= f.submit 'Update', :class => 'btn btn-primary' %>
          </div>
        </fieldset>
      <% end %>
      
    </div>
  </div><!--/span-->

</div>