<!-- <div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
 -->


 <div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon user"></i><span class="break"></span>Surveys</h2>
      <div class="box-icon">
        <%= link_to(raw('<i class="halflings-icon plus-sign"></i>'),new_user_path(current_user.id),"data-no-turbolink" => true,:class => "btn-add" )%>
        <a class="btn-setting" href="#"><i class="halflings-icon search"></i></a>
      </div>
    </div>
    <div class="box-content">

      <div class="box-content">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user,index| %>
          <tr>
            <td><%=index+1%></td>
            <td><%=user.name%></td>
            <td><%=user.email%></td>
            <td><%=user.role%></td>
            <td class="center">
              <a class="btn btn-success" href="#">
                <i class="halflings-icon white zoom-in"></i>
              </a>
              <a class="btn btn-info" href="#">
                <i class="halflings-icon white edit"></i>
              </a>
              <a class="btn btn-danger" href="#">
                <i class="halflings-icon white trash"></i>
              </a>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
<!--/span-->

</div>