<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>


<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon edit"></i><span class="break"></span>Form Elements</h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><i class="halflings-icon wrench"></i></a>
        <a class="btn-minimize" href="#"><i class="halflings-icon chevron-up"></i></a>
        <a class="btn-close" href="#"><i class="halflings-icon remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
          <label for="prependedInput" class="control-label">Prepended text</label>
          <div class="controls">
            <div class="input-prepend">
            <span class="add-on">@</span><input type="text" size="16" id="prependedInput">
            </div>
            <p class="help-block">Here's some help text</p>
          </div>
          </div>
          <div class="control-group">
          <label for="appendedInput" class="control-label">Appended text</label>
          <div class="controls">
            <div class="input-append">
            <input type="text" size="16" id="appendedInput"><span class="add-on">.00</span>
            </div>
            <span class="help-inline">Here's more help text</span>
          </div>
          </div>
          <div class="control-group">
          <label for="appendedPrependedInput" class="control-label">Append and prepend</label>
          <div class="controls">
            <div class="input-prepend input-append">
            <span class="add-on">$</span><input type="text" size="16" id="appendedPrependedInput"><span class="add-on">.00</span>
            </div>
          </div>
          </div>
          <div class="control-group">
          <label for="appendedInputButton" class="control-label">Append with button</label>
          <div class="controls">
            <div class="input-append">
            <input type="text" size="16" id="appendedInputButton"><button type="button" class="btn">Go!</button>
            </div>
          </div>
          </div>
          <div class="control-group">
          <label for="appendedInputButtons" class="control-label">Two-button append</label>
          <div class="controls">
            <div class="input-append">
            <input type="text" size="16" id="appendedInputButtons"><button type="button" class="btn">Search</button><button type="button" class="btn">Options</button>
            </div>
          </div>
          </div>
          <div class="control-group">
          <label class="control-label">Checkboxes</label>
          <div class="controls">
            <label class="checkbox inline">
            <div class="checker" id="uniform-inlineCheckbox1"><span><input type="checkbox" value="option1" id="inlineCheckbox1"></span></div> Option 1
            </label>
            <label class="checkbox inline">
            <div class="checker" id="uniform-inlineCheckbox2"><span><input type="checkbox" value="option2" id="inlineCheckbox2"></span></div> Option 2
            </label>
            <label class="checkbox inline">
            <div class="checker" id="uniform-inlineCheckbox3"><span><input type="checkbox" value="option3" id="inlineCheckbox3"></span></div> Option 3
            </label>
          </div>
          </div>
          <div class="control-group">
          <label class="control-label">File Upload</label>
          <div class="controls">
            <div class="uploader"><input type="file"><span class="filename" style="-moz-user-select: none;">No file selected</span><span class="action" style="-moz-user-select: none;">Choose File</span></div>
          </div>
          </div>
          <div class="control-group">
          <label class="control-label">Radio buttons</label>
          <div class="controls">
            <label class="radio">
            <div class="radio" id="uniform-optionsRadios1"><span class="checked"><input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"></span></div>
            Option one is this and that&mdash;be sure to include why it's great
            </label>
            <div style="clear:both"></div>
            <label class="radio">
            <div class="radio" id="uniform-optionsRadios2"><span><input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"></span></div>
            Option two can be something else and selecting it will deselect option one
            </label>
          </div>
          </div>
          <div class="form-actions">
          <button class="btn btn-primary" type="submit">Save changes</button>
          <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div><!--/span-->

</div>