<div class="row-fluid">
  <div class="login-box">
    <div class="icons">
      <a href="/"><i class="halflings-icon home"></i></a>
      <a href="/"><i class="halflings-icon cog"></i></a>
    </div>
    <h2>Change your password</h2>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <%= f.hidden_field :reset_password_token %>
        <div class="input-prepend" title="Username">
          <span class="add-on"><i class="halflings-icon user"></i></span>
          <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'input-large span10',placeholder:'New password' %>
        </div>
        <div class="clearfix"></div>
        <div class="input-prepend" title="Username">
          <span class="add-on"><i class="halflings-icon user"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'nput-large span10',placeholder:'New password' %>
        </div>
        <div class="clearfix"></div>
        <div class="button-login">  
          <%= f.submit 'Change my Password', :class => 'btn btn-primary' %>

        </div>
        <div class="clearfix"></div>
    <% end %>
  </div><!--/span-->
</div><!--/row-->