<div class="row-fluid">
  <div class="login-box">
    <div class="icons">
      <a href="/"><i class="halflings-icon home"></i></a>
      <a href="/"><i class="halflings-icon cog"></i></a>
    </div>
    <h2>Forgot Password</h2>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
      <fieldset>
        
        <div class="input-prepend" title="Username">
          <span class="add-on"><i class="halflings-icon user"></i></span>
          <%= f.email_field :email, :autofocus => true, class: 'input-large span10' ,placeholder:'Email' %>
        </div>
        <div class="clearfix"></div>

        <div class="button-login">  
          <%= f.submit 'Reset Password', :class => 'btn btn-primary' %>

        </div>
        <div class="clearfix"></div>
    <% end %>
  </div><!--/span-->
</div><!--/row-->