<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2>
        <i class="halflings-icon notes_2"></i>
        <span class="break"></span>
        <%= page.page_title %>
      </h2>
      <div class="box-icon">
        <%= link_to(raw('<i class="halflings-icon edit"></i>'),edit_survey_page_path(page.survey_id,page.id),remote: true, :class=> "btn-setting" ) %>

        <%= link_to(raw('<i class="halflings-icon move"></i>'),move_page_path(page.id,page.survey_id),remote: true, :class=> "btn-setting" ) %>

        <%= link_to(raw('<i class="halflings-icon share-alt"></i>'),copy_page_path(page.id),remote: true, method: :get, :data => {:confirm => 'Are you sure to copy?'} ,:class=> "btn-close" ) %>

        <%= link_to(raw('<i class="halflings-icon remove"></i>'),survey_page_path(page.survey_id,page.id),remote: true, method: :delete, :data => {:confirm => 'Are you sure to delete?'} ,:class=> "btn-close" ) %>
        
      </div>
    </div>
    <div class="box-content">
      <div class="page-header">
        <h1><small><%=page.page_description%></small></h1>
      </div>
      <div class="row-fluid">
        <div class="priority low">
          <div class="btn-group">
            <button class="btn btn-medium dropdown-toggle btn-success" data-toggle="dropdown"> 
              <%= t(:add_element) %></button>
            <ul class="dropdown-menu right-menu">
              <li> <%= link_to(raw('Dropdown Question'),page_questions_path('dropdown',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('Dropdown Rangking'),page_questions_path('dropdown_rangking',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('Evaluation 1'),page_questions_path('evaluation1',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('Evaluation 2'),page_questions_path('evaluation2',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('file upload'),page_questions_path('file_upload',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('multiline_text_box'),page_questions_path('multiline_text_box',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('multiple_answer'),page_questions_path('multiple_answer',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('multiple_choices'),page_questions_path('multiple_choices',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('percentage'),page_questions_path('percentage',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('radio_box'),page_questions_path('radio_box',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('single_question'),page_questions_path('single_question',page.id),remote: true ) %></li>
              <li> <%= link_to(raw('yes_no'),page_questions_path('yes_no',page.id),remote: true ) %></li>
            </ul>
          </div>
        </div>
        <!-- #element page  -->
        <%= form_for(@question, :url => create_page_question_path(survey.id,page.id), :remote => true ,:html => { :method => :post, :role => 'form',:class => ""}) do |f| %>
          <div id="detail_element_<%=page.id%>" >
            <% page.questions.each_with_index do |pg,index| %>
              <%#= render :partial => "questions/list_#{pg.question_type}",:locals => {:question => pg,:index => index } %>
              <div class="task low" id="question_list_<%=pg.id%>">
                <%= render :partial => "questions/list_#{pg.question_type}",:locals => {:question => pg,:index => index,:proccessed_view => "" } %>
                <div class="time">
                  <div class="date">
                    <%= render :partial => "questions/actionPerQuestion" ,:locals => {:question => pg} %>
                  </div>
                  <div><%=pg.created_at.to_date%></div>
                </div>
              </div>
            <% end %>
          </div>
          <%= f.submit 'Save', :class => 'btn btn-primary hide save-btn' , :id => "save_question_#{page.id}" %>
        <%end%>
      </div>
    </div>
  </div><!--/span-->
</div>