<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2>
        <i class="halflings-icon notes_2"></i>
        <span class="break"></span>
        <%= page.page_title %>
      </h2>
    </div>
    <div class="box-content">
      <div class="page-header">
        <h1><small><%= page.page_description %></small></h1>
      </div>
      <div class="row-fluid">
        <div id="detail_element_<%=page.id%>" >
          <% page.questions.each_with_index do |pg,index| %>
            <%= render :partial => "list_#{pg.question_type}",:locals => {:question => pg,:index => index } %>
          <% end %>
        </div>
      </div>
    </div>
  </div><!--/span-->
</div>
