<fieldset>
  <div class="control-group">
    <label class="control-label"><%= t(:custom_thank_you_page) %> <span class="mark-required">*</span></label>
    <div class="controls">
      <div class="input-prepend">
        <%= text_area_tag 'survey[final_page]', @survey.final_page, required: "required", style: 'width: 470px !important;height: 315px !important' %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><%= t(:custom_redirect_upon_completion) %></label>
    <div class="controls">
      <div class="input-prepend"><%= text_field_tag 'survey[url_final_page]', @survey.url_final_page, style: 'width: 470px !important' %></div>
    </div>
  </div>
</fieldset>
