<fieldset>
  <div class="control-group">
    <label class="control-label">page title <span class="mark-required">*</span></label>

    <div class="controls">
      <div class="input-prepend">
        <%= text_field_tag 'page[page_title]',(page.blank? ? '' : page.page_title ), :autofocus => true , :required => "required"%>
        <%= hidden_field_tag 'page[id]',(page.blank? ? '' : page.id ), :autofocus => true , :required => "required"%>
        <%= hidden_field_tag 'page[survey_id]',(page.blank? ? '' : page.survey_id ), :autofocus => true , :required => "required"%>
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">page description </label>

    <div class="controls">
      <div class="input-prepend">
        <%= text_area_tag 'page[page_description]',(page.blank? ? '' : page.page_description ), :autofocus => true%>
      </div>
    </div>
  </div>
</fieldset>
