<fieldset>
  <div class="control-group">
    <label class="control-label"> Survey </label>

    <div class="controls">
      <div class="input-prepend">
        <%#= text_area_tag 'page[page_description]',(page.blank? ? '' : page.page_description ), :autofocus => true%>
        <%= select_tag("move[survey_id]",options_from_collection_for_select(surveys,:id,:title)) %>
        <%= hidden_field_tag("move[type]",'true') %>
        <%= hidden_field_tag("move[page_id]",page_id) %>
      </div>
    </div>
  </div>
</fieldset>
