$('#pageFormModal').modal('show');
$("#page_title_modal").html("Move Page");
$("#page_modal_body_form").html('<%=escape_javascript(render :partial => "pages/move",:locals => {:surveys => @surveys , :page_id => @page_id }) %>');
