var total = $(".wrapper_<%=@page_id%>").lenght + 1;
$("#detail_element_<%=@page_id%>").append("<%= escape_javascript(render partial: "questions/#{@type}" ,:locals => {:question => @question ,:page_id => @page_id , :index => @index})%>");
 
 $("#save_question_<%=@page_id%>").show();