
<div class="row-fluid">
  <div class="survey-box" <%=layout_coloring(@survey,['top_border_color','bottom_border_color','right_border_color','left_border_color','width_box','height_box'],"answer")%> >
    
    <div class="">
      <h1><%=@survey.title%></h1>
      <p><%=@survey.description%></p>
    </div>
    
      <%= form_tag survey_post_answer_url(@survey),:id => "form_survey_for_customer" do %>
        <!-- Total Page =  --> 
        <input type="hidden" id="total_page" value="<%=@survey.pages.count%>" >
        <!-- Current Page =  --> 
        <input type="hidden" id="current_page" value="1" >

        <% @survey.pages.each_with_index do |page,pindex| %>
          <div id="page_<%=page.id%>" class="survey_page">
            <!-- Total Question/Page =  -->
            <input type="hidden" id="total_question_perpage-<%=pindex%>" value="<%=page.questions.count%>" >

            <% page.questions.each_with_index do |pg,index| %>
              <div id="page-<%=pindex%>-<%=index%>" class="<%=(pindex==0 && index == 0 ? "show-box" : "hide-box")%>" <%=layout_coloring(@survey,['background_color','font_color'],"answer")%> >
                <blockquote class="pull-rightx" style="float: right;padding-right: 14px;">
                  <p><%=page.page_description%></p>
                  <small><%=page.page_title%></small>
                </blockquote>
                <div class="clearfix"></div>
                <%= render :partial => "questions/list_#{pg.question_type}",:locals => {:question => pg,:index => index,:proccessed_view => "answer_page" } %>
                <center>
                  <div class="actions">
                    <% unless pindex==0 && index == 0  %>
                      <% if @survey.is_logical_workflow %>
                        <input type="hidden" id="prev_question_index_<%=pg.id%>" value="<%=index%>" />
                        <input type="hidden" id="prev_page_index_<%=pg.id%>" value="<%=pindex%>" />
                        <button class="btn btn-danger" type="button" onclick="backQuestionLogicalWorkflow(<%=pg.id%>);"> Back </button>
                      <%else%>
                        <button class="btn btn-danger" type="button" onclick="backQuestion(<%=pindex%>,<%=index%>);"> Back </button>
                      <%end%>
                    <% end -%>

                    <% if pindex == (@survey.pages.count-1) && index == (page.questions.count-1) %>
                      <%= submit_tag t(:finish), class: 'btn btn-info' unless @survey.is_logical_workflow  %>
                      <% if @survey.is_logical_workflow %>
                        <input type="hidden" value="<%=pg.id%>" class="choise_answer_<%=pg.id%>" id="question_id" name="question_id" />
                        <input type="hidden" value="<%=index%>" id="question_index_<%=pg.id%>"  />
                        <input type="hidden" value="<%=pindex%>" id="page_index_<%=pg.id%>"  />
                        <button class="btn btn-warning" type="button" onclick="nextQuestionLogicalWorkFlow(<%=pg.id%>,'<%=pg.question_type%>');" <%=layout_coloring(@survey,['button_font_color','button_background_color','button_border_color'],"answer")%> >Next  </button >
                      <%end%>
                    <%else%>
                      <% if @survey.is_logical_workflow %>
                        <input type="hidden" value="<%=pg.id%>" class="choise_answer_<%=pg.id%>" id="question_id" name="question_id" />
                        <input type="hidden" value="<%=index%>" id="question_index_<%=pg.id%>"  />
                        <input type="hidden" value="<%=pindex%>" id="page_index_<%=pg.id%>"  />
                        <button class="btn btn-warning" type="button" onclick="nextQuestionLogicalWorkFlow(<%=pg.id%>,'<%=pg.question_type%>');" <%=layout_coloring(@survey,['button_font_color','button_background_color','button_border_color'],"answer")%> >Next  </button >

                      <%else%>
                        <button class="btn btn-success" type="button" onclick="nextQuestion(<%=pindex%>,<%=index%>);" <%=layout_coloring(@survey,['button_font_color','button_background_color','button_border_color'],"answer")%> >Next  </button >
                      <%end%>
                    <%end -%>
                  </div>
                </center>
              </div>

            <% end %>
          </div>
        <% end %>

      <% end %>
      
      <div id="final_page" class="hide_box" style="display:none">
        <div class="desc">
          <div class="title"> Final Page </div>
          <div>
            <%=@survey.final_page%>
          </div>
        </div>
      </div>

  </div><!--/span-->
</div><!--/row-->


<div class="modal hide fade" id="pageConfirmation">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Confirmation Final Step</h3>
  </div>
  <div class="modal-body">
    you are sure to end this survey ? 
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" data-dismiss="modal">No</a>
    <a href="#" class="btn btn-success" onclick="submitSurvey();">Yes</a>
  </div>
</div>

<script type="text/javascript">
  function nextQuestion(page_index, question_index){
    var current_question = question_index;
    var next_question = current_question + 1;
    var total_question_perpage = $("#total_question_perpage-"+page_index).val();
    var total_page = $("#total_page").val()-1;
    
    if(next_question >= total_question_perpage){
      var next_page = page_index + 1;
    
      if(next_page <= total_page){
        $("#page-"+page_index+"-"+question_index).hide();
        nextQuestion(next_page,-1);
      }

    }else{
      $("#page-"+page_index+"-"+next_question).show();
      $("#page-"+page_index+"-"+question_index).hide();
    }
  }

  function backQuestion(page_index, question_index){
    var current_question = question_index;
    var prev_question = current_question - 1;
    var total_question_perpage = $("#total_question_perpage-"+page_index).val();
    var total_page = $("#total_page").val()-1;
    if(prev_question < 0 ){
      var prev_page = page_index - 1;
      var total_prev_question_perpage = $("#total_question_perpage-"+prev_page).val();
      if(prev_page <= 0){
        $("#page-"+page_index+"-"+question_index).hide();
        backQuestion(prev_page,total_prev_question_perpage);
      }
    }else{
      $("#page-"+page_index+"-"+question_index).hide();
      $("#page-"+page_index+"-"+prev_question).show();
    }

  }
  
  function finalPage(){
    // $("#page-"+page_index+"-"+question_index).hide();
    $("#final_page").show();
  }

  function nextQuestionLogicalWorkFlow(question_id,question_type){
    var params = $(".choise_answer_"+question_id).serialize()+"&question_type="+question_type;
    var curr_qindex = $("#question_index_"+question_id).val();
    var curr_pindex = $("#page_index_"+question_id).val();
    $.ajax({
      url: "<%=next_question_logical_workflow_path(@survey.id)%>",
      type:"POST",
      dataType: "json",
      data: params,
      success: function(result){
        if(result.choise_question_id=="99999"){
          $("#pageConfirmation").modal();
        }else{
          $(".show-box").removeClass("show-box").addClass("hide-box");
          var qindex = $("#question_index_"+result.choise_question_id).val();
          var pindex = $("#page_index_"+result.choise_question_id).val();
          $("#prev_question_index_"+result.choise_question_id).val(curr_qindex);
          $("#prev_page_index_"+result.choise_question_id).val(curr_pindex);

          $("#page-"+pindex+"-"+qindex).removeClass("hide-box").addClass("show-box");
  
        }        
      }
    });
  }

  function backQuestionLogicalWorkflow(question_id){
    $(".show-box").removeClass("show-box").addClass("hide-box");
    var qindex = $("#prev_question_index_"+question_id).val();
    var pindex = $("#prev_page_index_"+question_id).val();
    $("#page-"+pindex+"-"+qindex).removeClass("hide-box").addClass("show-box");
  }

  function submitSurvey(){
    $( "#form_survey_for_customer" ).submit();
  }

</script>
