<div class="row-fluid">
  <div class="login-box">
    <div class="icons">
      <a href="/"><i class="halflings-icon home"></i></a>
      <a href="/"><i class="halflings-icon cog"></i></a>
    </div>
    <h2>Login to your account</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),  :validate => true, :html => { :role => 'form',:class=>"form-horizontal "}) do |f| %>
      <fieldset>
        
        <div class="input-prepend" title="Username">
          <span class="add-on"><i class="halflings-icon user"></i></span>
          <%= f.email_field :email, :autofocus => true, class: 'input-large span10' ,placeholder:'type username' %>
        </div>
        <div class="clearfix"></div>

        <div class="input-prepend" title="Password">
          <span class="add-on"><i class="halflings-icon lock"></i></span>
          <%= f.password_field :password, class: 'input-large span10', placeholder:"type password" %>
        </div>
        <div class="clearfix"></div>
        <% if devise_mapping.rememberable? -%>
          <label class="remember">
            <%= f.check_box :remember_me %> Remember me
          </label>
        <% end -%>
        <div class="button-login">  
          <%= f.submit 'Sign in', :class => 'btn btn-primary' %>
        </div>
        <div class="clearfix"></div>
    <% end %>
    <hr>
    <h3><%= link_to 'Forgot Password?', new_user_password_path %> </h3>
  </div><!--/span-->
</div><!--/row-->