<div class="row-fluid">
  <div class="span4">
    <h3><%= t(:title) %></h3>
    <p> <%= @survey.title %></p>
    <div class="clearfix"></div>
    <h3><%= t(:initial_name) %></h3>
    <p> <%= @survey.initial_name %></p>
  </div>
  <div class="span8">
    <h3><%= t(:language) %></h3>
    <p> <%= @survey.language %></p>
    <div class="clearfix"></div>
    <h3><%= t(:description) %></h3>
    <p> <%= @survey.description %></p>
  </div>
</div>