<div class="task low" id="question_list_<%= question.id %>">
  <div class="desc">
    <div class="title"> <%= index+1 %>. <%= question.question %></div>
    <div>
      <%= generate_choise(question.question_type, question.choise) %>
    </div>
    <p><%= question.tooltips %></p>
  </div>
</div>
