<li class="ticket" id="">
  <!-- <i class="icon-asterisk"></i>  -->
  <span class="header">
    <span class="title">
      <%=question.question %>
      <%=hidden_field_tag "question[#{question.id}]" ,  question.id %>
    </span>
  </span>
  <span class="content">
    <%= generateLogicalView(question,logical_array) %>
  </span>
</li>