<% list_answers.each_with_index do |d,index| %>
  <span class="name"><%=d%> <%= hidden_field_tag "logical_workflow[choise_value][#{data.id}][#{index}]" , d %> </span>
  <span class="status"><%= select_tag "logical_workflow[choise][#{data.id}][#{index}]", options_for_select(logical_array,value_options["#{d}"]) ,:style => "width:100%;" ,:class=>"status"%> {<%=value_options%>} </span>
<%end%>