<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon edit"></i><span class="break"></span><%= t(:fill_survey) %></h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><i class="halflings-icon wrench"></i></a>
        <a class="btn-close" href="#"><i class="halflings-icon remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <%= render partial: 'surveys/info' %>
    </div>
  </div><!--/span-->
</div>
<div id="detail_page">
  <%= form_tag survey_post_answer_url(@survey) do %>
    <% @survey.pages.each do |page| %>
      <%= render partial: 'pages/detail_question',:locals => {:page => page, :survey => @survey} %>
    <% end %>
    <%= submit_tag t(:save), class: 'btn btn-primary save-btn' %>
  <% end %>
</div>
