<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon user"></i><span class="break"></span>Surveys</h2>
      <div class="box-icon">
        <%= link_to(raw('<i class="halflings-icon plus-sign"></i>'),new_survey_path,"data-no-turbolink" => true,:class => "btn-add" )%>
        <a class="btn-setting" href="#"><i class="halflings-icon search"></i></a>
      </div>
    </div>
    <div class="box-content">

      <div class="box-content">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Initial Name</th>
            <th>Language</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @surveys.each_with_index do |survey,index| %>
          <tr>
            <td><%=index+1%></td>
            <td><%=link_to survey.title,customer_survey_path(survey.id),"data-no-turbolink" => true, :target => "_BLANK" %></td>
            <td><%=survey.initial_name%></td>
            <td><%=survey.language%></td>
            <td><%=survey.description%></td>
            <td>
              <%=survey.created_at.to_date%>
            </td>
            <td class="center">
              <%= link_to(raw('<i class="halflings-icon white zoom-in"></i>'),survey_path(survey.id),"data-no-turbolink" => true,:class => "btn btn-success" )%>
              <%= link_to(raw('<i class=" white icon-cogs""></i>'),logical_workflow_survey_path(survey.id),"data-no-turbolink" => true,:class => "btn btn-info" , "data-original-title" => "Logical workflow" ,  "data-rel" =>"tooltip" )%>

              <a class="btn btn-warning" href="#">
                <i class="halflings-icon white list-alt "></i>
              </a>
<!-- data-original-title="Tooltip, you can change the position." -->
              
              <%= link_to(raw('<i class=" halflings-icon white picture""></i>'),layout_coloring_survey_path(survey.id),"data-no-turbolink" => true,:class => "btn btn-default" , "data-original-title" => "Layout Coloring" ,  "data-rel" =>"tooltip")%>
              
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <%= paginate @surveys %>
    </div>
  </div>
</div>
<!--/span-->

</div>