<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon edit"></i><span class="break"></span>Detail survey</h2>
      <div class="box-icon">
      </div>
    </div>
    <div class="box-content">
      <%= render partial: 'surveys/info'%>
    </div>
  </div><!--/span-->
</div>


<div class="row-fluid"> 
  <div class="box span5">
    <div class="box-header">
      <h2><i class="halflings-icon picture"></i><span class="break"></span>Style Elements</h2>
    </div>
    <div class="box-content">
      <%= form_tag(save_layout_coloring_survey_path(@survey.id), method: "post" ) do %>
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td> Font Color</td>
              <td> 
                <%=text_field_tag "style[font_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.font_color , :class => "colorpicker-input" %>
              </td>
            </tr>
            <tr>
              <td>Background Color</td>
              <td>
                <%=text_field_tag "style[background_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.background_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Row Color</td>
              <td>
                <%=text_field_tag "style[row_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.row_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Button font Color</td>
              <td>
                <%=text_field_tag "style[button_font_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.button_font_color, :class => "colorpicker-input" %>

              </td>
            </tr>

            <tr>
              <td>Button Background Color</td>
              <td>
                <%=text_field_tag "style[button_background_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.button_background_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Button Border Color</td>
              <td>
                <%=text_field_tag "style[button_border_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.button_border_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Top Border Color</td>
              <td>
                <%=text_field_tag "style[top_border_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.top_border_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Bottom Border Color</td>
              <td>
                <%=text_field_tag "style[bottom_border_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.bottom_border_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Right Border Color</td>
              <td>
                <%=text_field_tag "style[right_border_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.right_border_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Left Border Color</td>
              <td>
                <%=text_field_tag "style[left_border_color]" ,@layout_coloring.blank? ? "" : @layout_coloring.left_border_color, :class => "colorpicker-input" %>
              </td>
            </tr>

            <tr>
              <td>Width Box</td>
              <td>
                <%=text_field_tag "style[width_box]" ,@layout_coloring.blank? ? "" : @layout_coloring.width_box, :class => "rezise_box"  %>
              </td>
            </tr>

            <tr>
              <td>Height Box</td>
              <td>
                <%=text_field_tag "style[height_box]" ,@layout_coloring.blank? ? "" : @layout_coloring.height_box, :class => "rezise_box" %>
              </td>
            </tr>
          </tbody>
        </table>
        <%= submit_tag("save",:class=>"btn btn-primary") %>
      <% end -%>
    </div>  
  </div><!--/span-->
  
  
  <div class="box span7">
    <div class="box-header">
      <h2><i class="halflings-icon list"></i><span class="break"></span>Layout Of your question box</h2>
    </div>
    <div class="box-content buttons">

    <div id="question_list_3" class="question_list-prev" style="border:1px solid">
      <div class="desc">
        <div class="font-color">
          1. example question example question example question example question example question example question example question example question example question example question example question example question example question example question example question  
        </div>
        <div>
          <ul style="margin-left: 0;" class="dropdown-ranking-select- rangking-list unstyled ui-sortable">
            <li class="question_choise-prev">
              
              <i class="fa fa-sort icons-move handle">
              </i>
              <div class="radio" id="uniform-_radio_box_">
                <span>
                  <input type="radio" id="_radio_box_" name="[radio_box]" checked="checked" value="">
                </span>
              </div>
              
              <span class="ranking-question font-color">
                RB 1
              </span>
              
            </li>
            <li  class="question_choise-prev">
              
              <i class="fa fa-sort icons-move handle">
              </i>
              <div class="radio" id="uniform-_radio_box_">
                <span>
                  <input type="radio" id="_radio_box_" name="[radio_box]" checked="checked" value="">
                </span>
              </div>
              
              <span class="ranking-question font-color">
                RB 2
              </span>
              
            </li>
            <li  class="question_choise-prev" >
              
              <i class="fa fa-sort icons-move handle">
              </i>
              <div class="radio" id="uniform-_radio_box_">
                <span>
                  <input type="radio" id="_radio_box_" name="[radio_box]" checked="checked" value="">
                </span>
              </div>
              
              <span class="ranking-question font-color">
                RB 3
              </span>
              
            </li>
            <li  class="question_choise-prev">
              <div class="radio" id="uniform-_radio_box_">
                <span>
                  <input type="radio" id="_radio_box_" name="[radio_box]" checked="checked" value="">
                </span>
              </div>
              
              <input type="text" name="" value="">
              
            </li>
          </ul>
        </div>
        <p class="font-color">
          Radio Box 
        </p>
      </div>
      <button class="btn btn-font-color" type="submit">Button</button>
    </div>

    </div>
  </div><!--/span-->
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".colorpicker-input").each(function(){
       $(this).keyup();
    });
  });
</script>