<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon edit"></i><span class="break"></span>Detail survey</h2>
      <div class="box-icon">
      </div>
    </div>
    <div class="box-content">
      <%= render partial: 'surveys/info'%>
    </div>
  </div><!--/span-->
</div>

<div class="clear-fix"></div>

<div class="box row-fluid sortable ui-sortable">
  <div class="box-header">
    <h2><i class="halflings-icon list"></i><span class="break"></span>Logical workflow</h2>
  </div>

  <div class="box-content">
    <%= form_tag(save_logical_workflow_survey_path(@survey.id), method: "post" ) do %>
      <ul class="tickets">
        <% @logical_dropdown.each do |question| %>
          <%= render partial: 'surveys/list',:locals => {:question => question,:logical_question => @logical_dropdown,:logical_array => @logical_array} %>
        <%end%>  
      </ul>
      <%= submit_tag("save",:class=>"btn btn-primary") %>
    <% end -%>

  </div>
</div>