<h1>New Surveys </h1>

<%= form_for(@survey, :url => surveys_path, :html => { :method => :post, :role => 'form',:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <%= f.label :title, raw(" Title <span class='mark-required'>*</span>") , :class=>"control-label"  %>
    <div class="controls ">
      <%= f.text_field :title, :autofocus => true, class: 'input-xlarge span12' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :initial_name, raw(" Initial Name <span class='mark-required'>*</span>") , :class=>"control-label"  %>
    <div class="controls ">
      <%= f.text_field :initial_name, :autofocus => true, class: 'input-xlarge span12' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :language, raw("Language <span class='mark-required'>*</span>") , :class=>"control-label"  %>
    <div class="controls ">
      <%= f.text_field :language, :autofocus => true, class: 'input-xlarge span12' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, raw(" Description <span class='mark-required'>*</span>") , :class=>"control-label"  %>
    <div class="controls ">
      <%= f.text_area :description, :autofocus => true, class: 'input-xlarge span12' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>
          

<%end%>