<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon edit"></i><span class="break"></span>Detail survey</h2>
      <div class="box-icon">
        <a class="btn-setting" href="#"><i class="halflings-icon wrench"></i></a>
        <a class="btn-close" href="#"><i class="halflings-icon remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <%= render partial: 'surveys/info'%>
    </div>
  </div><!--/span-->
</div>

<a class="btn btn-info btn-setting" id="add_page" href="#"><%= t(:add_page) %> </a>
<%= link_to t(:customize_final_page), '#', class: 'btn btn-info btn-setting customize_final_page' %>
<%= link_to t(:display_final_page), '#', class: 'btn btn-info btn-setting display_final_page' %>
<div id="detail_page">
  <% @survey.pages.each do |page| %>
    <%= render partial: 'pages/detail',:locals => {:page => page, :survey => @survey} %>
  <% end %>
</div>

<%= form_for(@page, :url => survey_pages_path(@survey.id) , :remote => true ,:html => { :role => 'form',:class => "form-horizontal" , 'data-model' => 'page'}) do |f| %>
  <div class="modal hide fade" id="pageForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>New Page</h3>
    </div>
    <div class="modal-body">
      <%= render partial: 'pages/form',:locals => {:f => f,:page => @page}%>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= form_for(@page, url: survey_customize_final_page_url(@survey.id) , remote: true, method: 'PUT', html: {role: 'form', class: "form-horizontal" , 'data-model' => 'page'}) do |f| %>
  <div class="modal hide fade" id="customize_final_page_form" style="width: 700px !important;height: 507px !important">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3><%= t(:customize_final_page) %></h3>
    </div>
    <div class="modal-body" style="height: 400px !important;max-height: 400px !important">
      <%= render partial: 'pages/final_page_form', locals: {:f => f,:page => @page}%>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= form_tag('/questions/update', remote: true , method: :put) do -%>
  <div class="modal hide fade" id="moveQuestionForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 id="title_modal">Move Question</h3>
    </div>
    <div class="modal-body" id="modal_body_form">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <input type="hidden" name="edit_question_id" id="edit_question_id"  value ="">
      <%= submit_tag 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<%end-%>


<%= form_tag(update_page_path, remote: true , method: :put,:class => "form-horizontal") do -%>
  <div class="modal hide fade" id="pageFormModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 id="page_title_modal">Page Modal</h3>
    </div>
    <div class="modal-body" id="page_modal_body_form">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <%= submit_tag 'Save', :class => 'btn btn-primary' %>
    </div>
  </div>
<%end-%>

<div class="modal hide fade" id="display_final_page_form" style="width: 700px !important;height: 507px !important">
  <iframe src='http://localhost:3000/surveys/<%= @survey.id %>/final_page' width='100%' height='100%'></iframe>
</div>