<div class="task low">
  <div class="desc">
    <div class="title">Dropdown Question</div>
    <div>
      
      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="text" data-index="1" data-target="dropdown-question-"></textarea>
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="tooltip" class="is-tooltip" data-index="1" data-target="dropdown-question-" data-value-from="note-1"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-1" data-index="1" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls ">
          <input class="input-xlarge span6 dropdown-preview first-value" name="text" type="text" data-index="1" data-target="dropdown-select-" value="Please choose.."/>
          <span class="right-form-note">This first choise will not be accepted as an answer (e.g. Please choose..)</span>
        </div>
        <div class="controls ">
          <textarea class="input-xlarge span6 dropdown-preview" name="text" data-index="1" data-target="dropdown-select-"></textarea>
          <p class="help-block">Separate each item by line break</p>
        </div>
      </div> 

      <div class="control-group">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-1" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <select class="dropdown-select-1">
                <option>Please Choose..</option>
              </select>
              <p class="help-block note-block-1"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>
