<div class="task low">
  <div class="desc">
    <div class="title">Dropdown Rangking</div>
    <div>
      
      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="text" data-index="2" data-target="dropdown-question-"></textarea>
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="tooltip" class="is-tooltip" data-index="2" data-target="dropdown-question-" data-value-from="note-2"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-2" data-index="2" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls">
          <div class="span6">
            <textarea class="input-xlarge span12 dropdown-ranking-preview text-rangking-2" name="text" data-index="2" data-target="dropdown-ranking-select-" rows="5"></textarea>
            <p class="help-block">Separate each item by line break</p>
          </div>
          <div class="span6">
            <input type="checkbox" name="tooltip" class="is-na" data-index="2" data-target="dropdown-ranking-select-"/> Show N/A <input type="text" name="name" class="span2 na-2 na" data-index="2" value="N/A" data-target="dropdown-ranking-select-"/>
          </div>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-2" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <ul class="dropdown-ranking-select-2 rangking-list unstyled" style="margin-left: 0;" data-index="2">
              
              </ul>
              <p class="help-block note-block-2"></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

 <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>