<div class="task low">
  <div class="desc">
    <div class="title">Evaluation 1</div>
    <div>

      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview text-eval-3" name="text" data-index="3" data-target="dropdown-question-"></textarea>
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="tooltip" class="is-tooltip" data-index="3" data-target="dropdown-question-" data-value-from="note-3"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-3" data-index="3" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls">
          <div class="span4">
            <textarea class="input-xlarge span12 eval1-preview text-eval1-3" name="text" data-index="3" data-target="eval-prev-" rows="5"></textarea>
            <p class="help-block">Separate each item by line break</p>
          </div>
          <div class="span8">
            <div class="eval1check">
              <input type="checkbox" name="tooltip" data-index="3" data-target="foot-eval1-" class="eval1-check"/>
              Append open inbox box
            </div>
            <div class="span5 hide foot-eval1-3">
              <p class="label-eval">Text before optional text field</p>
              <input type="text" name="tobechanged" class="span12 eval1-foot-label" data-index="3" data-target="foot-eval1-label-"/>
            </div>      
            <div class="span5 hide foot-eval1-3">
              <p class="label-eval">Text box width</p>
              <input type="text" name="tobechanged" class="span4 eval1-width" data-index="3" data-target="optional-eval1-"/><span> px</span>
            </div>

            <!-- column -->
            <div class="span3">
              <p class="label-eval">Number of column</p>
              <select class="span5 eval1-column evals-column-3" data-index="3" data-target="column-eval1-">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="selected">3</option>
              </select>
            </div>
            <div class="span8">
              <p class="label-eval">Column label:</p>
              <input type="text" name="tobechanged" class="span4 label-eval1 column-eval1-3 col1" data-index="3"/>
              <input type="text" name="tobechanged" class="span4 label-eval1 column-eval1-3 col2" data-index="3"/>
              <input type="text" name="tobechanged" class="span4 label-eval1 column-eval1-3 col3" data-index="3"/>
            </div>

            <!-- last column checxbox -->
            <div class="span12">
              <input type="checkbox" name="tobechanged"/>
              The last column is a "No answer" column (or equivalent) and is not considered in the evaluation
            </div>
          </div>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-3" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <table style="width:100%">
                <thead>
                  <tr>
                    <td width="50%">
                     
                    </td>
                    <td class="color-black label-eval1-3 column-eval1-3 col1" width="20%">
                      Column 1
                    </td>
                    <td class="color-black label-eval1-3 column-eval1-3 col2" width="20%">
                      Column 2
                    </td>
                    <td class="color-black label-eval1-3 column-eval1-3 col3" width="20%">
                      Column 3
                    </td>
                  </tr>
                </thead>
                <tbody class="eval-list eval-prev-3" data-index="3">

                </tbody>
                <tfoot class="hide foot-eval1-3">
                  <tr>
                    <td>
                      <span class="foot-eval1-label-3 color-black"></span>
                      <input type="text" name="prev" class="optional-eval1-3"/>
                    </td>
                    <td class="column-eval1-3 col1">
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td class="column-eval1-3 col2">
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                    <td class="column-eval1-3 col3">
                      <label class="radio">
                        <input type="radio" name="foot" value="option2">
                      </label>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <p class="help-block note-block-3"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>