<div class="task low">
  <div class="desc">
    <div class="title"><%= t(:percentage) %></div>
    <div>
      <div class="control-group">
        <label class="control-label"><%= t(:question) %> <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="text" data-index="1" data-target="dropdown-question-"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= t(:individual_note) %>
          <span class="pull-right">
            <input type="checkbox" name="tooltip" class="is-tooltip" data-index="1" data-target="dropdown-question-" data-value-from="note-1"/> <%= t(:show_as_tooltip) %>
          </span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-1" data-index="1" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>
      <div class="control-group">
        <div class="span3">
          <p class="label-eval"><%= t(:text_before_field) %></p>
          <input type="text" class="span12 afterbefore" data-index="1" data-target="pbefore-">
        </div>
        <div class="span3">
          <p class="label-eval"><%= t(:default_value) %> (0 - 100)</p>
          <input type="text" class="pdefault span12" data-index="1" data-target="percentage-">
        </div>
        <div class="span2">
          <p class="label-eval"><%= t(:increment) %></p>
          <select name="tobechanged" class="span12 pstep" data-index="1" data-target="percentage-">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="span4">
          <p class="label-eval">Text after field</p>
          <input type="text" class="afterbefore span12" data-index="1" data-target="pafter-">
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-1" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <span class="pbefore-1 color-black"></span>
              <input type="range" min="0" max="100" value="1" class="percentage-1">
              <span class="pafter-1 color-black"></span>
              <p class="help-block note-block-1"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>
