<div class="task low">
  <div class="desc">
    <div class="title">Radio Box</div>
    <div>

      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview text-eval-3" name="text" data-index="3" data-target="dropdown-question-"></textarea>
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="tooltip" class="is-tooltip" data-index="3" data-target="dropdown-question-" data-value-from="note-3"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-3" data-index="3" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <label class="control-label">Answer fields <span class="mark-required">*</span></label>
        <div class="controls">
          <div class="span4">
            <textarea class="input-xlarge span12 dropdown-ranking-preview text-rangking-3 from_multiple" name="text" data-index="3" data-target="dropdown-ranking-select-" rows="5" data-type="radio"></textarea>
            <p class="help-block">Separate each item by line break</p>
          </div>
          <div class="span8">
            <div class="eval1check">
              <input type="checkbox" checked="checked" name="tooltip" data-index="3" data-target="foot-eval1-" class="eval1-check"/>
              Append open inbox box
            </div>
            <div class="span5 foot-eval1-3">
              <p class="label-eval">Text before optional text field</p>
              <input type="text" name="tobechanged" class="span12 eval1-foot-label" data-index="3" data-target="foot-eval1-label-"/>
            </div>      
            <div class="span5 foot-eval1-3">
              <p class="label-eval">Text box width</p>
              <input type="text" name="tobechanged" class="span4 eval1-width" data-index="3" data-target="optional-eval1-"/><span> px</span>
            </div>

          </div>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-3" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <ul class="dropdown-ranking-select-3 rangking-list unstyled" style="margin-left: 0;" data-index="3">
                
              </ul>
              <div class="foot-eval1-3 foot" style="margin-left: 23px;">
                  <input type="radio">
                  <span class="foot-eval1-label-3 color-black"></span>
                  <input type="text" name="prev" class="optional-eval1-3"/>
                </div>
              <p class="help-block note-block-3"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>