<div class="task low">
  <div class="desc">
    <div class="title">Single question</div>
    <div>
      
      <div class="control-group">
        <label class="control-label">Question <span class="mark-required">*</span></label>
        <div class="controls ">
          <textarea class="input-xlarge span12 text-preview" name="text" data-index="1" data-target="dropdown-question-"></textarea>
        </div>
      </div>  
                
      <div class="control-group">
        <label class="control-label">
          Individual Note 
          <span class="pull-right"><input type="checkbox" name="tooltip" class="is-tooltip" data-index="1" data-target="dropdown-question-" data-value-from="note-1"/> Show as tooltip</span>
        </label>
        <div class="controls ">
          <input class="input-xlarge span12 note-preview note-1" data-index="1" data-target="dropdown-question-" name="text" type="text" />
        </div>
      </div>  

      <div class="control-group">
        <div class="span2">
          <p class="label-eval">Text box width</p>
          <input type="text" class="span8 multilinewidth" data-index="1" data-target="multiline-">
          <span>px</span>
        </div>
        <div class="span4">
          <p class="label-eval">Default Value</p>
          <input type="text" class="multilinevalue" data-index="1" data-target="multiline-">
        </div>
        <div class="span6">
          <p class="label-eval">What kind of text entries are allowed</p>
          <select name="tobechanged">
            <option value="all">All, no retriction</option>
          </select>
        </div>
      </div> 

      <div class="control-group" style="clear:both">
        <div class="box black">
          <div class="box-header">
            <h2>Preview of question</h2>
          </div>
          <div class="box-content preview">
            <h4 class="color-black dropdown-question-1" data-placement="top" data-toggle="tooltip" href="#" data-original-title=""></h4>
            <div>
              <input class="span12 multiline-1" />
              <p class="help-block note-block-1"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="date"> 
      <button class="btn btn-danger"><i class="halflings-icon white remove"></i></button>
    </div>
    <div> -- </div>
  </div>
</div>
