<div class="row-fluid sortable ui-sortable landscape-print">
  <div class="box span9">
    <div class="box-header">
      <h2> Report Survey <%= @surveys.title %></h2>
      <div class="box-icon">
        <%= @surveys.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>
    <div class="box-content">
      <div class="page-header">
        <h2> 
          <small><%=@surveys.description%></small>
        </h2>
      </div>
      
      <hr/>

      <div class="row-fluid">        
        <div class="span4">
        <h3>Question & Answer By User </h3>
          <table class="table table-bordered table-striped table-condensed" style="width:100%">
            <thead>
              <tr>
                <th rowspan="2" style="width:10%">No</th>
                <th rowspan="2" style="width:40%">Question</th>
                <th colspan="<%=@total_user%>">username</th>
              </tr>
              <tr>
                <% @users.each do |us| %>
                  <th><%=us.name%></th>
                <%end -%>
              </tr>
            </thead>
            <tbody>
              <% no = 0 %>
              <% @survey_answers.each_with_index do |qa,index| %>
                <% no += 1 %>
                <tr>
                  <td><%=(no)%></td>
                  <td class="center"><%=qa[:question]%></td>
                  <% @users.each do |us| %>
                    <td class="center"><%=qa[:user_answer]["#{us.id}"].blank? ? "-" : qa[:user_answer]["#{us.id}"].answer %></td>
                  <%end -%>
                </tr>
              <%end -%>
            </tbody>
           </table>
        </div>
      </div><!--/row -->                           
    </div>
  </div><!--/span-->
  
  

</div>

