<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div data-original-title="" class="box-header">
      <h2><i class="halflings-icon user"></i><span class="break"></span>Report Surveys</h2>
      <div class="box-icon">
        
      </div>
    </div>
    <div class="box-content">

      <div class="box-content">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Initial Name</th>
            <th>Language</th>
            <th>Description</th>
            <th>Contribute User</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @surveys.each_with_index do |survey,index| %>
          <tr>
            <td><%=index+1%></td>
            <td><%=link_to survey.title,customer_survey_path(survey.id),"data-no-turbolink" => true, :target => "_BLANK" %></td>
            <td><%=survey.initial_name%></td>
            <td><%=survey.language%></td>
            <td><%=survey.description%></td>
            <td style="text-align:'center'"><span class="label <%=survey.survey_answers.group("user_id").count.values.count == 0 ? 'label-warning' : 'label-success' %>"><%=survey.survey_answers.group("user_id").count.values.count rescue '' %> User</span></td>
            <td style="text-align:'center'" >
              <%= link_to(raw('<i class="iconpdf">&nbsp;</i>'),download_reports_path(survey.id,'pdf',:format => "pdf"),"data-no-turbolink" => true,:class => "",:target => "_BLANK")%>
              <%= link_to(raw('<i class="icon-xls"></i>'),download_reports_path(survey.id,'csv',:format => "csv"),"data-no-turbolink" => true,:class => "",:target => "_BLANK" )%>
              
            </td>
            
          </tr>
          <%end%>
        </tbody>
      </table>
      <%= paginate @surveys %>
    </div>
  </div>
</div>
<!--/span-->

</div>