<div id="sidebar-left" class="span2">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li><a href="/" data-no-turbolink><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li> 
      <li>
        <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Setting</span><span class="label label-important"> 3 </span></a>
        <ul>
          <li>
            <%= link_to(raw('<i class="icon-file-alt"></i><span class="hidden-tablet"> User</span>'), users_path,"data-no-turbolink" => true,:class => "submenu") %> 
          </li>
          <!-- <li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
          <li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li> -->
        </ul> 
      </li>
      <li>
        <%= link_to(raw('<i class="icon-list-alt"></i><span class="hidden-tablet"> Survey</span>'), surveys_path,"data-no-turbolink" => true) %> 
      </li>
      <li><%= link_to(raw('<i class="icon-edit"></i><span class="hidden-tablet"> Report</span>'), reports_path,"data-no-turbolink" => true) %>
      </li>

    </ul>
  </div>
</div>
