<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <%= wicked_pdf_stylesheet_link_tag('style', :media => :print) %>
    <%= stylesheet_link_tag 'application', media: :print%>

		<style type="text/css">
		.page-print {
		  width: "195mm";
		  height: "270mm"
		  page-break-after: "always";
		  overflow:"hidden";
		}

		.page-print .landscape-print {
		  position:"relative";
		  margin:"270mm 0";
		  width:"270mm";
		  height:"195mm";
		  -webkit-transform:"rotate(-90deg)";
		  -webkit-transform-origin:  "0mm 0mm";
		}
		</style>
		<script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>

  </head>
  <body class="<%= controller_name %> <%= action_name%> page-print" onload="number_pages()">
    <%= yield %>
    
    <!-- Page <span class="page"></span> of <span class="topage"></span> -->
    
  </body>
</html>