<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Esurvey" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Esurvey" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application_login', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid-full">
      <div class="row-fluid">
         <%= render 'layouts/messages' %>
         <%= yield %>
      </div>
    </div>
  </body>
</html>
